@using ASP.NET_Core_BookStore.Models
@model IndexViewModel


@{
    ViewData["Title"] = "Художественая литература";
}

<style>
    @@font-face {
        font-family: 'FontAwesome';
        src: url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2') format('woff2'), url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff') format('woff'), url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/fonts/fontawesome-webfont.ttf') format('truetype');
        font-weight: normal;
        font-style: normal
    }

    .glyphicon {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale
    }

    .glyphicon-chevron-right:before {
        content: "\f054";
    }

    .glyphicon-chevron-left:before {
        content: "\f053";
    }
</style>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Books" asp-action="AllFavoriteBooks">Главная</a></li>
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Books" asp-action="AllBooks">Все товары</a></li>
        <li class="breadcrumb-item active" aria-current="page">Фантастика</li>
    </ol>
</nav>

<div class="row">
    <div class="col-md-12" style="float:right;">
        <form asp-action="AllBooks">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Search" class="form-control col-md-12" placeholder="Поиск по сайту..." />
                <span asp-validation-for="Search" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Поиск" class="btn btn-warning col-md-12" />
            </div>
        </form>
    </div>
</div>
<br />
<div class="row">
    @foreach (var item in Model.Books)
    {
        <div class="card mb-3" style="max-width: 540px; margin:10px;">
            <div class="row no-gutters">
                <div class="col-md-6">
                    <img src="@item.Img" class="card-img" alt="...">
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <div style="height:120px;"><h6 style="font-size:1.2em;" class="card-title">@item.Name</h6></div>
                        <div style="height:50px;"><p style="font-size:1.3em;" class="card-text">Цена:&nbsp;<strong>@item.Price грн.</strong></p></div>
                        <div style="height:30px;"><a class="btn btn-lg btn-danger" asp-controller="Books" asp-action="DetailsBook" asp-route-id="@item.Id">Купить</a></div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="AllLiteratureBooks"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       class="btn btn-outline-dark">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}
@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="AllLiteratureBooks"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       class="btn btn-outline-dark">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}